body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(to bottom, #000, #555);
}

header {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.logo {
    margin-right: 10px;
    border-radius: 50%; /* Makes the image circular */
    width: 100px; /* Adjust size */
    height: 100px; /* Adjust size */
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto; /* Align buttons to the right */
}

nav ul li {
    margin: 0 10px;
    position: relative; /* For dropdown */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background 0.8s, transform 0.8s;
}

nav ul li a:hover {
    background: #fff;
    color: #000;
    transform: scale(1.05);
}

.dropdown-content {
    display: none; /* Hide by default */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 160px;
    z-index: 1;
    color: white; /* Text color for dropdown */
    padding: 10px; /* Padding for dropdown items */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show on hover */
}

.about-section {
    background: rgba(255, 255, 255, 0.8); /* White background with transparency */
    color: #000; /* Black text */
    padding: 20px; /* Padding for spacing */
    margin: 20px; /* Margin around the section */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #bababa; /* Border color */
    text-align: center; /* Center text */
}

.service-enclosure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.service-card {
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
    color: #fff; /* White text */
    padding: 20px;
    margin: 10px; /* Margin for spacing */
    border-radius: 10px; /* Rounded corners */
    transition: background 0.3s, color 0.3s, border 0.3s; /* Transition for hover effects */
    border: 2px solid #bababa; /* Initial border color */
}

.service-card:hover {
    background: #fff; /* Change background to white on hover */
    color: #000; /* Change text color to black on hover */
    border: 2px solid #000; /* Change border to black on hover */
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
