body {
    background-color: #181818;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.logo {
    margin-right: 10px;
    border-radius: 50%;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
}

nav ul li {
    position: relative;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background 0.8s, transform 0.8s;
}

nav ul li a:hover {
    background: #fff;
    color: #000;
    transform: scale(1.05);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.welcome-title {
    text-align: center;
    color: white;
}

#welcome {
    text-align: center;
    color: white;
    padding: 20px;
}

.welcome-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.5s, color 0.5s, border-color 0.5s;
}

.welcome-button:hover {
    background: white;
    color: black;
    border-color: #bababa;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.service-card {
    background-color: transparent;
    border: 2px solid #bababa;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 15px; /* Increased border radius */
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.service-card:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.services-title {
    text-align: center;
    color: white;
}

.about-title {
    text-align: center;
    color: white;
}

.about-box {
    background-color: transparent;
    border: 2px solid #bababa;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 15px; /* Increased border radius */
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.about-box:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}
